.profileInfo {
  margin-bottom: 10px;
  padding: 10px;
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  justify-content: space-between;
  width: 300px;
  font-weight: bold;
  font-size: 18px;
}