.posts {
  padding: 10px;
}

.textarea {
  resize: none;
  width: 350px;
  height: 70px;
  border-radius: 5px;
}

.postAddWrap {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  margin-bottom: 30px;
}

.AddPostButton {
  width: 100px;
  height: 30px;
  border-radius: 20px;
  background-color: #5B86E5;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  outline: none;
}
